bin/
bin/*
target/*
log/*
*.csv
*.arff
*.csv
*.log
*.others
*.xlsx
*.gbt
*.nfg
/target/

# Policy files
*.pol

# Java binaries
*.class

# Eclipse build paths
.classpath

# Lock files and logs
*.lck
*.log

# Gambit files
*.nfg
*.gbt